{% extends 'basic/main_template.html' %} 

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Выбери свой путь</h1>
        <p class="lead">Страх доступ открывает к тёмной стороне. Страх рождает гнев, гнев рождает ненависть, ненависть — залог страданий</p>
        <a type="button" href="/sith/" class="btn btn-danger btn-lg btn-block">Для Ситхов</a>
        <a type="button" href="/recruit" class="btn btn-primary btn-lg btn-block">Для рекрутов</a>
    </div>
</div>
{% endblock content %}