{% extends 'basic/main_template.html' %} 
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Выбери свой путь</h1>
        <p class="lead">
            Спокойствие — ложь, есть только страсть. Со Страстью я приобретаю Силу. С Силой я приобретаю Власть. С Властью я приобретаю Победу. С Победой я разорву свои цепи, И Великая Сила освободит меня.
        </p>
        <a type="button" href="/siths/" class="btn btn-danger btn-lg btn-block">Для Ситхов</a>
        <a type="button" href="/recruit/" class="btn btn-primary btn-lg btn-block">Для рекрутов</a>
    </div>
</div>
{% endblock content %}