{% extends 'basic/main_template.html' %} 

{% block title %}
Ситх | {{ sith }}
{% endblock title %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item"><a href="/siths/">Ситхи</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ sith }}</li>
    </ol>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ sith }}</h1>
    <p class="lead">
        <ul>
            <li>Планета: {{ sith.planet }}</li>
            <li>Рук Тени: {{ sith.shadowhand_set.all|length }}</li>
        </ul>
    </p>
    <a type="button" href="/siths/{{ sith.id }}/recruits/" class="btn btn-info btn-lg btn-block">Поиск рекрутов</a>
  </div>
</div>

{% if sith.shadowhand_set.all|length != 0 %}
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Рука Тени</th>
      <th scope="col">Возраст</th>
      <th scope="col">Планета</th>
    </tr>
  </thead>
  <tbody>
  {% for shadowhand in sith.shadowhand_set.all %}
  <tr>
      <th scope="row">
          {{ shadowhand.recruit }}
      </th>
      <td>
          {{ shadowhand.recruit.age }}
      </td>
      <td>
        {{ shadowhand.recruit.planet }}
      </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock content %}