{% extends 'basic/main_template.html' %} 
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ситхи</li>
    </ol>
</nav>  
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Планета</th>
        <th scope="col">Рук Тени</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for sith in sith_list %}
    <tr>
        <td>
            <a href="/siths/{{ sith.id }}/">{{ sith.name }}</a>
        </td>
        <td>{{ sith.planet }}</td>
        <td>
            {{ sith.shadowhand_set.all|length }}
        </td>
        <td>
            <a type="button" class="btn btn-outline-success" href="/siths/{{ sith.id }}/">
                Выбрать
            </a>
            <a 
                type="button" 
                class="btn btn-outline-info"
                href="/siths/{{ sith.id }}/recruits/">
                Поиск рекрутов
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% with sith_list as items %}
    {% include 'basic/includes/paginator.html' %}
{% endwith %}

{% endblock content %}